:root 
{

--tetri: rgb(255, 255, 255);
--fonti: 20px;
--Savi:rgb(0, 0, 0); 
--opasiti: 50%;
}


.conteiner
{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-color: #F6F8F9;
    position: relative;
   
}

.header1
{
    max-width: inherit;
    width: inherit;
    position: fixed;
    top: 0;
    height: 51px;
    left: 50%;
    transform: translate(-50%);
    background-color: #F6F8F9;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 18px;
    padding-bottom: 18px;
    display:flex;

   

}

.headerlogo
{
    background-color:rgb(248, 245, 42);
    
    box-shadow: 5px 5px rgb(99, 170, 99);
    border-radius: 30%;
    animation: logo;
    transition: all;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    
}

@keyframes logo
{
    0% {
        background-color: rgb(248, 245, 42);
        opacity: 0;
    }
    25% {
        background-color: rgb(248, 245, 42);
        opacity: 0.25;
    }
    50% {
        background-color: rgb(248, 245, 42);
        opacity: 0.5;
    }
    75% {
        background-color: rgb(248, 245, 42);
        opacity: 0.75;
    }
    100% {
        background-color: rgb(248, 245, 42);
        opacity: 1;
    }

 }


 .headerlogodiv
 {
    width:38px;
    height: 15px;
    border-radius: 30%;
    background-color: white;
    animation: logo1;
    transition: all;
    animation-iteration-count: infinite;
    animation-duration: 5s;
 }
 @keyframes logo1
 {
    0% {
        background-color: white;
        opacity: 1;
        transform: scaleX(1) scaleY(1); 
        box-shadow: 10px 10px 80px #FA6980, -10px -10px 80px #FA6980;
    }
    25% {
        background-color: white;
        opacity: 1;
        transform: scaleX(1.2) scaleY(1.2); 
        box-shadow: 7px 7px 80px #FA6980, -7px -7px 80px  #FA6980;
    }
    50% {
        background-color: rgb(233, 230, 87);
        opacity: 1;
        transform: scaleX(1.3) scaleY(1.3); 
        box-shadow: 5px 5px 80px #FA6980, -5px -5px 80px  #FA6980;
    }
    75% {
        background-color: rgb(233, 230, 87);
        opacity: 1;
        transform: scaleX(1.4) scaleY(1.sec1div2txt4); 
        box-shadow: 3px 3px 80px #FA6980, -3px -3px 80px  #FA6980;
    }
    100% {
        background-color: rgb(233, 230, 87);
        opacity: 1;
        transform: scaleX(1.5) scaleY(1.5); 
        box-shadow: 0 0  #FA6980, 0 0  #FA6980;
        /* border: 3px solid #FA6980;  - ამ კოდზე წარწერა რატომ გადის დივიდან? */
       }

 }



    
.headerlogotxt
{
    font-size: 13px;
    font-weight: bold;
    color: #FA6980;
}

.header1ul
{
display: flex;
margin-left: 1025px;
gap:31px;

}

.header1li
{
font-size: 11px;
font-weight: bold;
opacity: 50%;
font-family: 'Oswald';

}

.feri
{
   
    opacity: 100%;
    
}

.header1li:hover 
{
  border-bottom: 3px red solid;
  font-size: 13px;
  /* ერთ li_სთან მიტანისას დანარჩენებმა რომ არ იმოძრაონ როგორ უნდა გავაკეთო? */
}



/* დასრულდა ჰედერი */

.section1
{
    width: 100%;
    height: 599px;
    margin: 0 auto;
    display: flex;
    background-color: white;
}

.section1div1
{   width:60%;
    height: 599px;
    background-image: url(../image/page1pic1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.section1linkdiv
{

    width:16%;
    height: 45px;
    margin-top: 385px;
    margin-left: 144px;
    transition: all;
    
  
}

.section1linkdiv:hover 
{
    box-shadow: 10px 10px 50px red, -10px -10px 50px  red;
}


.section1div2
{
    width:40%;
    height: 599px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}


.sec1div2div1
{
    width: 70%;
    height: 60px;
    border:none;
    border-bottom: 2px #EBEDED solid;
    margin-top: 100px;
    margin-bottom: 80px;
}



.sec1div2div2
{
    width: 70%;
    height: 300px;
    /* border: 2px red solid; */
}

.sec1div2div3
{   width: 100%;
    height: 150px;
    /* border: 2px gold solid; */
    margin: 0 auto;

}

.sec1div2div4
{
    width: 100%;
    height: 150px;
    /* border: 2px green solid; */
    margin: 0 auto;
}

.sec1div2txt2
{
    margin-bottom: 20px;
}

.sec1div2txt3
{
    margin-bottom: 10px;  
}

.sec1div2txt4 
{
    margin-bottom: 30px; 
}


.sec1div2txt1
{
    font-size: 22px;
    font-weight: bold;
    font-family: 'Oswald';

    
}


.sec1div2txt2
{
font-size: 1rem;
font-weight: bold;
color:#FA6980;
font-family: 'Oswald';
}

.sec1div2txt3
{
    font-size: 1rem;
    font-weight: bold; 
}

.sec1div2txt4
{
  font-size: 1rem;
  color: #A6ADB4;
  font-family: 'Roboto';
}

.sec1div2txt5
{
    font-size: 13px;
    color: #A6ADB4;
}

.fa-clock
{
    color: #CBD0D3;
}

/* დასრულდა სექცია 1 */

.section2
{
    width: 80%;
    height: 410px;
    margin: 40px  auto 38px auto;
    

    
}

.sec2div1
{
    width: 100%;
    margin-bottom: 42px;
}

.sec2div2
{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-between;
}

.sec2div123
{
   width: 32%; 
   height: 100%;
   background-color: white;
}

.sec2imagediv
{
    width: 100%;
    height: 180px;
    margin-bottom: 40px;
    border-radius: 5% 5% 5% 5%;
    overflow: hidden;

}

.sec2imagediv:hover
{
    transform: scaleX(2) scaleY(2); 
    box-shadow: 5px 5px 10px black, -5px -5px 10px  black;
}

.sec2image
{
    width: 100%;
    height: 180px;
    margin-bottom: 38px;
    
}

.sec2div123txt1
{
    margin-bottom: 9px;
    margin-left: 40px;
}

.sec2div123txt2
{
    margin-left: 40px;
}

/* დასრულდა სექცია2 */


.sec2div1txt
{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Oswald';

}

.sec2div123txt1
{
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Oswald'; 
}


.sec2div123txt2
{
font-size: 13px;
color: #A6ADB4;
font-family: 'Roboto';
}


.section3
{
    width: 80%;
    height: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
}

.sec3serTodivi
{
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
   
    
}

.sec3div1
{
    width:65%;
    height:100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}

.sec3div1_1
{
    width: 100%;
    height: 430px;
    background-image: url(../image/sec3pic1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.sec3div1_2
{
    width: 100%;
    height: 430px;
    background-image: url(../image/sec3pic2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sec3div1_1txt1
{
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 232px;
}

.sec3div1_1txt2
{
    margin-left: 40px;
}

.sec3div1_1txt3
{
    margin-left: 40px;
}

.sec3div2
{
    width: 31%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 38px;
}

.sec3div123
{
    width: 100%;
    height: 300px;
}

.sec3div2txt
{
    margin-top: 48px;
}

.sec3div2image
{
    width: 100%;
}



.sec3txt1
{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Oswald';

}

.sec3div1_1txt1
{
    font-size: 1rem;
    font-weight: bold;
    color: white;
    font-family: 'Oswald';
}

.sec3div1_1txt2
{
    font-size: 24px;
    font-weight: bold;
    color: white;
    font-family: 'Oswald';
}


.sec3div1_1txt3
{
    font-size: 1rem;
    margin-top: 10px;
    color: white;
    font-family: 'Oswald';
}

.sec3div2txt
{
    font-size: 1rem;
    font-weight: bold;
    font-family:  'Roboto';
}

/* დასრულდა სექცია 3 */

.footer1
{
    width: 100%;
    height: 201px;
    margin: 101px auto auto auto;
    background-color: #A6ADB4;
    padding-top: 54px;
    padding-left: 142px;
    padding-right: 138px;
    padding-bottom: 61px;
    display: flex;
    justify-content: space-between;
}

.logotext
{
    width: 27%;
    height: 86px;
    border: 2px red solid;
    display: flex;

}


.footerlogo

{
    width: 25%;
    height: 100%;
    border: 2px solid blue;
}

.footermenu
{
    width: 75%;
    height: 100%;
    border: 2px gold solid;
    display: flex;
    justify-content: space-between;



}

.footerul
{
   display: flex;
   flex-direction: column;
   gap: 9px;
}



.footertxt
{
    font-size: 13px;
    font-weight: bold;
}

.logotxt
{
    font-size: 13px;
    font-weight: bold;
    color: white;

}



.footersocialicondiv
{
    width: 12%;
    height: 16px;
    display: flex;
    justify-content: space-between;
}

.footertxt
{
    font-size: 13px;
    font-weight: bold;
    color: #CBD0D3;
    font-family: 'Oswald';
}


.tetri
{
    color: white;
}


/* დასრულდა გვერდი 1 */

.conteiner2
{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-color: #F6F8F9;
    position: relative;

}
/* 
 ჰედერი დაკოპირებულია გვერდი 1_დან */


.page2section1
{
    width: 80%;
    height: 495px;
    background-color: white;
    margin: 103px  auto auto auto;
    display: flex;


}

.page2section1div1
{
    width: 50%;
    height: 100%;
    background-image: url(../image/page2sec1pic1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page2sec1txt
{
    font-size: 30px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    
}

.page2sec1div2
{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   

}

.page2div2serch
{

    width: 70%;
    height: 60%;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* სპეის ბითვინი რატომ არ მუშაობს? */
    
    
    
}

.serchbox
{
    width: 100%;
    height: 40px;
    margin-top: 10px;

}

.batton
{    width: 30%;
    height: 40px;
    background-color:  #FA6980;
    border-radius: 20%;
    border: none;
    color: white;
    font-size: 11px;
    font-weight: bold;
    font-family: 'Oswald';
}

.batton:hover
{
    color: black;
    box-shadow: 3px 3px 50px #FA6980, -3px -3px 50px  #FA6980;
}

/* დასრულდა მეორე გვერდის სექცია1 */

.page2section2
{
    width: 80%;
    height: 253px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px #EBEDED solid;
    border-top: 2px #EBEDED solid;
    margin: 37px auto auto auto;
    
}

.avatar
{
  width: 40px;
  height: 40px;
  margin-bottom: 20px;

  
  
}
.page2sec2div1
{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.page2sec2div23
{
    width: 31%;
    height: 100%;
    display: flex;
    margin-top: 40px;
}

.page2sec2h2
{

    font-size: 24px;
    font-weight: bold;
    font-family: 'Roboto';
}

.page2sec2tex
{
    font: 14px;
    color: #A6ADB4;
    font-family: 'Oswald';
}
/* დასრულდა გვერდი 2 სექცია2 */

.page2section3
{
    width: 80%;
    height: 830px;
    margin: 40px auto auto auto;
    border-bottom: 2px #EBEDED solid;
    display: flex;
    flex-direction: column;


}

.page2sec3picdiv
{

    width: 100%;
    height: 500px;
    background-image: url(../image/spilo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.page2sec3txtdiv
{
    width: 100%;
    height: 330px;

}

.page2sec3txt
{
    font-size: 14px;
    color: #A6ADB4;
    font-family: 'Roboto';
}

.txt1
{
    margin-top: 80px;
}

.txt2
{
    margin-top: 34px;
}

/* დასრულდა სექცია 3 */

.footer2
{
    margin-top: 161px;
}

/* რომელი მარჯინი მუიშაობს? */ 